html, body {
    width: 100%;
   
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    background-color: rgb(27, 27, 27);
    /* background-image: url("assets/texture_bg.jpg"); */
    /* background-repeat: no-repeat; */
    z-index: 5;

  }


  .seeRails {
    background-color: red;

  }

  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }

  .allDivs {
    background-image: url(assets/GTT_webBG_vert.jpg);
    /* background-position: top center; */
    /* height: 100vh; */
    /* height: 100vw; */
    /* background-attachment: fixed; */
    background-size: cover;
    z-index: 7;
  }

    
  
  /* ===================Head of Page======================== */
  
  .font1 {
    font-family: serif;
    transform: scale(1, .95);
    /* font-style: italic; */
    
  }

  .font2 {
    letter-spacing: 1.5px;
    font-weight: bold;
  }
  .titleWrapper {
      /* background-color: rgb(224, 214, 71); */
      color: rgb(255, 255, 255);
  }

  /* .title {
    font-size: 4vw;
    margin: 7% auto 1% auto;
    text-align: center;
    
    color: rgb(77, 177, 202);
    font-size: 5vw;
    letter-spacing: 10px;
    width: 80%;
  } */

  .titleText {
    font-size: 8vw;
    color: rgb(228, 236, 109);
    /* margin: 35% 10% 20% 10%; */
    margin: 20% auto 5% auto;
    text-align: center;
    letter-spacing: 10px;

    font-family: acier-bat-outline, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: -10px 20px 30px #2a3f49de;
  }


  .titleText1 {
    font-size: 8vw;
    color: rgb(228, 236, 109);
    letter-spacing: 10px;
    margin: 22% auto 0 auto;
    align-content: center;
    text-align: center;

    font-family: acier-bat-outline, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: -10px 20px 30px #2a3f49de;
  }
  .titleText2 {
    font-size: 8vw;
    color: rgb(228, 236, 109);
    letter-spacing: 10px;
    margin: -1.5% auto -1.5% auto; 
    /* margin: auto; */
    align-content: center;
    text-align: center;

    font-family: acier-bat-outline, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: -10px 20px 30px #2a3f49de;
  }
  .titleText3 {
    font-size: 8vw;
    color: rgb(228, 236, 109);
    letter-spacing: 10px;
    margin: 0 auto 5% auto;
    align-content: center;
    text-align: center;

    font-family: acier-bat-outline, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: -10px 20px 30px #2a3f49de;
  }


  .subtitleText {
    font-size: 2vw;
    color: rgb(224, 235, 78);
    /* margin: 35% 10% 20% 10%; */
    margin: auto;
    text-align: center;

    /* font-family: acier-bat-outline, sans-serif;
    font-weight: 400;
    font-style: normal; */


    font-family: acier-bat-solid, sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .subtitleArrow {
    font-size: 2vw;
    color: rgba(225, 235, 78, 0.404);
    /* margin: 35% 10% 20% 10%; */
    margin: auto;
    text-align: center;

    font-family: acier-bat-solid, sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  /* .title:hover {
    color: rgb(216, 214, 75);
     
    
  } */
  

  /* .subtitle {
    font-size: 1vw;
    margin: 0 auto 2% auto;
    text-align: center;
    text-transform: uppercase;
    color: rgb(202, 162, 77);
    
  } */
.podDescription {
  font-size: 1.5vw;
  /* color: rgb(204, 125, 149); */
  color: rgb(202, 162, 77);
  margin: 15% auto;
    text-align: center;
    font-family: acier-bat-solid, sans-serif;
}

  .contact {
    font-size: 2vw;
    color: rgb(204, 125, 149);
    /* color: rgb(202, 162, 77); */
    /* margin: 35% 10% 20% 10%; */
    margin: 15% auto;
    text-align: center;
    font-family: acier-bat-solid, sans-serif;
  }

  .contactEmail {
    margin: 0 3% 0 0;
  }



 
  .topA {
      margin: 7% auto;
      padding: 10% 3%;
      font-size: 1.7vw;
      color: rgb(65, 150, 172);

      /* background-color: red; */
  }
  .topB {
      margin: 7% auto;
      /* padding: 10% 3%; */
      font-size: 1vw;
      color: rgb(202, 162, 77);

      /* background-color: red; */
  }




  .gttImage {
    width: 100%;
    /* height: 33%; */
    /* margin: 0 auto; */
    box-shadow: 10px 10px 30px #00000055;
    z-index: 4;
  }

  .rowOne {
    
    /* background-image: url(assets/GTT_webBG-small.jpg);
    background-position: center center;
    height: 100vh; */
    
  }

  .rowOneHalf {
    
    /* background-color:rgb(18, 45, 75); */
   
    /* background-image: linear-gradient(to right, rgb(197, 197, 186),rgb(241, 241, 241), rgb(189, 189, 189)); */
    /* box-shadow: 0px 3px 40px #00000055; */
    
    /* height: 50vh; */
  }


  .buzzPlayer {
    margin: 10% auto;
    
  }



  .linkCity {
    /* text-align: center;
    align-content: center;
    margin: 2% auto;
    width: 20%; */
  }
  .topLogos {
    text-align: center;
    align-content: center;
    margin: 2% auto;
    transition: width .4s;
    width: 80%;

  }

  .topLogos:hover {
    width: 85%;
  }

  

  .topLinks {
    /* text-align: center;
    align-content: center;
    margin: 2% auto;
    width: 2%; */
  }




  .rowTwo {
    
    /* background-image: linear-gradient(to bottom right, rgb(189, 189, 189), rgb(207, 207, 207), rgb(226, 226, 226),
    rgb(240, 240, 240));
    
    box-shadow: 0px 3px 40px #00000055; */
    
  }

  .enneagramLinkDiv {
    margin: 15% auto 1% auto;
    align-content: center;
    text-align: center;
    
  }
  .enneagramHref {
    font-size: 2vw;
    text-decoration: none;
    color: rgb(202, 162, 77);
    
  }
  .enneagramHref:hover {
    font-size: 2vw;
    text-decoration: none;
    color: rgb(243, 209, 134);
    /* font-weight: bold; */
  }
  .enneaLinkText {
    padding: 5%;
    border-radius: 25px;
    border-style: double;
    text-decoration: none;
    margin: 20%;
  }




  .logFallLinkDiv {
    margin: 1% auto;
    align-content: center;
    text-align: center;
    
  }
  .logFallHref {
    font-size: 2vw;
    text-decoration: none;
    color: rgb(202, 162, 77);
    
  }
  .logFallHref:hover {
    font-size: 2vw;
    text-decoration: none;
    color: rgb(243, 209, 134);
    /* font-weight: bold; */
  }
  .logFallLinkText {
    padding: 5%;
    border-radius: 25px;
    border-style: double;
    text-decoration: none;
    margin: 20%;
  }





  .cogBiasLinkDiv {
    margin: 1% auto 15% auto;
    align-content: center;
    text-align: center;
    
  }
  .cogBiasHref {
    font-size: 2vw;
    text-decoration: none;
    color: rgb(202, 162, 77);
    
  }
  .cogBiasHref:hover {
    font-size: 2vw;
    text-decoration: none;
    color: rgb(243, 209, 134);
    /* font-weight: bold; */
  }
  .cogBiasLinkText {
    padding: 5%;
    border-radius: 25px;
    border-style: double;
    text-decoration: none;
    margin: 20%;
  }






  .letsTalk {
    font-size: 5vw;
    margin: 3% auto 3% 2%;
    text-align: center;
    font-family: acier-bat-outline, sans-serif;
    color: rgb(240, 232, 215);
    letter-spacing: 5vw
  }
  
  .podcaster1 {
    width: 90%;
    /* margin: 10%; */
    box-shadow: 10px 10px 30px #00000055;
    margin: 10% auto;
    align-content: center;
    text-align: center;

  }
  .podcaster2 {
    width: 100%;
    /* margin: 10%; */
    box-shadow: 10px 10px 30px #00000055;
    /* margin: 0 auto; */
    align-content: center;
    text-align: center;
    border-radius: 30px;

  }

  .podcasterTextTitle {
    /* margin: 7% auto; */
      /* padding: 10% 3%; */
      margin: 2% 10% 2% 10%;
      font-size: 2vw;
      /* color: rgb(65, 150, 172); */
      color: rgb(151, 151, 151);
      font-family: acier-bat-solid, sans-serif;

  }
  .podcasterText {
    margin: 2% 10% 20% 10%;
    /* color: rgb(65, 150, 172); */
    color: rgb(77, 77, 77);
    font-size: 1vw;
    font-family: sans-serif;
    font-style: italic;
  }


  .footer {
    height: 35%;
    background-color: rgba(31, 31, 31, 0.404);
    align-content: center;
    text-align: center;
  
  }

  .footerLinks {
    align-content: center;
    text-align: center;
    /* width: 10%;
    margin: 2% auto; */
  }
  .footerLinksHref {
    align-content: center;
    text-align: center;
  }

  .linkLogos {
    width: 5%;
    align-content: center;
    text-align: center;
    margin: 5% 2% 5% 2%;
  }
  
  .copyright {
    font-size: 1vw;
    text-align: center;
    margin: 3% auto;
    color: rgb(231, 231, 231);
  }


/* ========================{ ENNEAGRAM PAGE }======================================= */


.enneagramSubtitleText {
  font-size: 2vw;
  color: rgb(224, 235, 78);
  /* margin: 35% 10% 20% 10%; */
  margin: 30% auto 5% auto;
  text-align: center;

  font-family: acier-bat-solid, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}
.enneagramSubtitleText:hover {
  
  color: rgb(244, 252, 132);
  /* margin: 35% 10% 20% 10%; */
  
  text-decoration: none;
}

.enneagramTitleText2 {
  font-size: 8vw;
  color: rgb(228, 236, 109);
  letter-spacing: 10px;
  margin: -1.5% auto 20% auto; 
  /* margin: auto; */
  align-content: center;
  text-align: center;

  font-family: acier-bat-outline, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: -10px 20px 30px #2a3f49de;
}

.enneagramImageDiv {
  align-content: center;
  text-align: center;
  

}
.enneagramImage {
  align-content: center;
  text-align: center;
  border-radius: 25px;
  width: 90%;
  margin: 3% auto 1% auto;

}

.enneagramTestText {
  align-content: center;
  text-align: center;
  margin: 3% auto 10% auto;
  padding: 5%;
  border-radius: 25px;
  border-style: double;
  text-decoration: none;
  font-size: 1vw;
  color: rgb(202, 162, 77)
  /* transition: padding .3s; */
  /* transition: font-size .3s; */

}
.enneagramTestText:hover {
  /* padding: 5.5%; */
  /* font-size: 1.1vw; */
  /* font-weight: bold; */
  color: rgb(238, 194, 99)
}

.enneaSpan {
  font-weight: bold;
}

.enneagramTestLink {
  align-content: center;
  text-align: center;
  text-decoration: none;
  color: rgb(202, 162, 77)
}
.enneagramTestLink:hover {
  align-content: center;
  text-align: center;
  text-decoration: none;
  color: rgb(202, 162, 77);
  font-size: 1.2vw;
}



.enneaExplanationsTitles {
  color: white;
  font-size: 1.5vw;
  font-weight: bold;
  text-align: center;
  margin: 0 0 3% 0
}  
.enneaExplanations {
  color: white;
  font-size: 1vw;
  padding: 3%;
  /* text-align: center; */
}


.heart {
  background-color: rgba(255, 199, 208, 0.623);
  border-radius: 25px 25px 0 0;
}
.head {
  background-color: rgba(170, 252, 255, 0.623);
}
.gut {
  background-color: rgba(233, 205, 255, 0.623);
  border-radius: 0 0 25px 25px;
}
  
.enneaCenterCol {
  border-style: none solid none solid;
  border-width: 1px;
}

.italics {
  font-style: italic;
}
.bold {
  font-weight: bold;
}


  /* ========================{ Media Queries }======================================= */
  
    /* PHONES */
  
    @media screen and (max-width: 992px) {
    
  .allDivs {
    background-image: url(assets/GTT_webBG_mobile.jpg);
    background-size: fill;
    background-position: top center;
    /* width: 100%; */
    /* background-size: cover; */
    }
      

      .titleText {
        font-size: 15vw;
        color: rgb(228, 236, 109);
        margin: 20% 0 5% 0;
        align-content: center;
        text-align: center;
      }
      .titleText1 {
        font-size: 15vw;
        color: rgb(228, 236, 109);
        margin: 45% 0 0 0;
        align-content: center;
        text-align: center;
      }
      .titleText2 {
        font-size: 15vw;
        color: rgb(228, 236, 109);
        margin: 5% 0 5% 0;
        align-content: center;
        text-align: center;
      }
      .titleText3 {
        font-size: 15vw;
        color: rgb(228, 236, 109);
        margin: 0 0 10% 0;
        align-content: center;
        text-align: center;
      }




  .subtitleText {
    font-size: 4vw;
    color: rgb(224, 235, 78);
    
    margin: auto auto 30% auto;
    text-align: center;

    font-family: acier-bat-solid, sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  

  .subtitleArrow{
    display: none;
  }



  .buzzPlayer {
    margin: 10% 3%;
    
  }

  .linkCity {
    text-align: center;
    align-content: center;
    margin: 10% auto;
    /* width: 20%; */
  }
  .topLogos {
    text-align: center;
    align-content: center;
    margin: 5% auto;
    width: 30%;

  }

  .topLinks {
    
  }

  .podDescription {
    font-size: 4vw;
    margin: auto 3%;
  }

  .contact {
    font-size: 5.5vw;
  }


  .enneagramHref {
    font-size: 5vw;
    text-decoration: none;
    color: rgb(202, 162, 77);
  }
  .enneagramHref:hover {
    font-size: 5vw;
    text-decoration: none;
    /* color: rgb(202, 162, 77); */
  }



  .logFallHref {
    font-size: 5vw;
    text-decoration: none;
    color: rgb(202, 162, 77);
  }
  .logFallHref:hover {
    font-size: 5vw;
    text-decoration: none;
    /* color: rgb(202, 162, 77); */
  }



  .cogBiasHref {
    font-size: 5vw;
    text-decoration: none;
    color: rgb(202, 162, 77);
  }
  .cogBiasHref:hover {
    font-size: 5vw;
    text-decoration: none;
    /* color: rgb(202, 162, 77); */
  }




  .podcasterTextTitle {
    margin: 7% auto;
      /* padding: 10% 3%; */
      margin: 20% 10% 2% 10%;
      font-size: 5vw;
      color: rgb(65, 150, 172);

  }
  .podcasterText {
    margin: 2% 10% 20% 10%;
    color: rgb(65, 150, 172);
    font-size: 4vw;
  }


  .podcaster1 {
    /* margin: auto 0; */
    width: 100%;
  }
  .podcaster2 {
    width: 80%;
  }

  .letsTalk {
    font-size: 20vw;
  }

  .footer {
    height: 50%;
    
    align-content: center;
    text-align: center;
  
  }

  .footerLinks {
    align-content: center;
    text-align: center;
  }
  .footerLinksHref {
    align-content: center;
    text-align: center;
  }

  .linkLogos {
    width: 10%;
    align-content: center;
    text-align: center;
    margin: 10% 2%;
  }

  .copyright {
  font-size: 3vw;
  }


/* ========================{ ENNEAGRAM MQ's }======================================= */


  .enneagramSubtitleText {
    font-size: 4vw;
    color: rgb(224, 235, 78);
    
    margin: 40% auto 5% auto;
    text-align: center;

    font-family: acier-bat-solid, sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .enneagramTitleText2 {
    font-size: 15vw;
    color: rgb(228, 236, 109);
    margin: 5% 0 30% 0;
    align-content: center;
    text-align: center;
  }

  .enneagramImageDiv {
    align-content: center;
    text-align: center;
    
  
  }
  .enneagramImage {
    align-content: center;
    text-align: center;
    border-radius: 25px;
    width: 90%;
    margin: 3% auto 10% auto;
  
  }



  .enneagramTestText {
    align-content: center;
    text-align: center;
    margin: 3% 5% 10% 5%;
    padding: 5%;
    border-radius: 25px;
    border-style: double;
    text-decoration: none;
    font-size: 4vw;
    color: rgb(202, 162, 77)
    /* transition: padding .3s; */
    /* transition: font-size .3s; */
  
  }
  .enneagramTestText:hover {
    /* padding: 5.5%; */
    /* font-size: 1.1vw; */
    /* font-weight: bold; */
    color: rgb(238, 194, 99)
  }
  
  .enneaSpan {
    font-weight: bold;
  }
  
  .enneagramTestLink {
    align-content: center;
    text-align: center;
    text-decoration: none;
    color: rgb(202, 162, 77);
    
  }
  .enneagramTestLink:hover {
    align-content: center;
    text-align: center;
    text-decoration: none;
    color: rgb(202, 162, 77);
    font-size: 1.2vw;
  }


  .enneaCenterCol {
    border-style: none;
  }


  .enneaExplanationsTitles {
    color: white;
    font-size: 4vw;
    font-weight: bold;
    text-align: center;
    margin: 0 0 3% 0
  }  
  .enneaExplanations {
    color: white;
    font-size: 3vw;
    padding: 3%;
    border-style: none none solid none;
    border-width: 1px;
    margin: 0 5%;
    /* text-align: center; */
  }
  
  .en1 {
    border-style: none;
    /* border-radius: 0px; */
  }


  .heart {
    background-color: rgba(255, 199, 208, 0.623);
    /* border-radius: 25px 25px 0 0; */
    margin: 0 5%;
  }
  .head {
    background-color: rgba(170, 252, 255, 0.623);
    margin: 0 5%;
  }
  .gut {
    background-color: rgba(233, 205, 255, 0.623);
    /* border-radius: 0 0 25px 25px; */
    margin: 0 5% 10% 5%;
  }
    

  .en1 {
    border-style: none;
    /* border-radius: 0 0 50px 50px; */
  }

 

/* ============================={ END OF MQ's }======================================= */
  }